
/* Login Page */
.center {
  margin-bottom: 0%;
  text-align: center;
  width: 100%;
}

/* ANY Page */
body{
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

/* Login Page */
.loginForm{
  display: block;  
  margin: 0 auto; 
  width: 400px;
  font-family: sans-serif;
}

/* Login Page */
.logInBut{
  font-family: sans-serif;
  background-color: dodgerblue;
  color: white;
  border-radius: 24px;
  margin-bottom: 0%;
  position: fixed;
  text-align: center;
  width: 10%;
}

/* Can be used for ANY page*/
/* Logout button */
.logOutButton{
  color: white;
  background-color: dodgerblue;
  border-radius: 24px;
  padding: 5px 25px;
  float: right;
}

/* Can be used for ANY page*/
/* horizontal lines. Needed or else it will wrap around the logout button */
.horizontal{
  display: inline-block;
  width: 100%;
  margin: 0%;
}

/* Also used for manager menu buttons */
/* Employee menu button list */
.employeeButtons button{
  background-color: dodgerblue;
  color: white;
  width: 50%;
  display: block;
  margin: auto;
  padding: 10px 24px;
  /* border:blue; */
  font-size: medium;
  border-radius: 24px;
}

/* employee menu */
.employeeButtons button:hover{
  background-color: blue;
}

/* employee menu */
.but button:hover{
  background-color: blue;
}
/* CAN be used for any page */
/* Position fixed and width is what fixed the centering*/
.menuHeader{
  margin-bottom: 0%;
  position: fixed;
  text-align: center;
  width: 100%;
}
