.center {
	margin: auto;
	display: table;
  text-align: center;
}


body{
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.loginForm{
  
  display: block;  
  margin: 0 auto; 
  width: 400px;
  font-family: sans-serif;
}

.but {
  position: relative;
  padding-left: 100px;
}

.logBut{
  width: 100px;
  font-family: sans-serif;
  background-color: dodgerblue;
  color: white;
  border-radius: 24px;
  
}

/* Logout button */
.logOutButton{
  color: white;
  background-color: dodgerblue;
  border-radius: 24px;
  padding: 5px 25px;
  float: right;
}

/* horizontal lines. Needed or else it will wrap around the logout button */
.horizontal{
  display: inline-block;
  width: 100%;
  margin: 0%;
}

/* Employee menu button list */
.employeeButtons button{
  background-color: dodgerblue;
  color: white;
  width: 50%;
  display: block;
  margin: auto;
  width: 50%;
  padding: 10px 24px;
  /* border:blue; */
  font-size: medium;
  border-radius: 24px;
}

.employeeButtons button:hover{
  background-color: blue;
}

.but button:hover{
  background-color: blue;
}

.menuHeader{
  /* display: inline-block; */
  text-align: center;
  margin-bottom: 0%;
  /* position: fixed; */
}